{
    "db1": {
        "host": "10.0.0.18",
        "port": 3307,
        "user": "user",
        "passwd": "passwd",
        "database": "database"
    },
    "db2":{
        "host": "10.0.0.18",
        "port": 3306,
        "user": "root",
        "passwd": "passwd",
        "database": "database"
    }
}
