{
    "db1": {
        "host": "10.xxx.0.xxx",
        "port": 33061,
        "user": "user",
        "passwd": "passwd",
        "database": "database"
    },
    "db2": {
        "host": "10.xxx.0.xxx",
        "port": 33062,
        "user": "user",
        "passwd": "passwd",
        "database": "database"
    }
}
